.table-cell {
  padding: 12px 16px;
  font-size: 14px;
  color: #171717;
  border-bottom: 1px solid #e5e5e5;
  vertical-align: middle;
}

th.table-cell {
  font-weight: 600;
  color: #525252;
  background-color: #fafafa;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.table-cell--left {
  text-align: left;
}

.table-cell--center {
  text-align: center;
}

.table-cell--right {
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  .table-cell {
    color: #ededed;
    border-bottom-color: #3f3f3f;
  }

  th.table-cell {
    color: #a3a3a3;
    background-color: #171717;
  }
}
